[submodule "web-client"]
	path = web-client
	url = git@github.com:rpiml/okcollege-web-client.git
[submodule "web-api"]
	path = web-api
	url = git@github.com:rpiml/okcollege-web-api.git
[submodule "okcollege-preprocessor"]
	path = preprocessor
	url = https://github.com/rpiml/okcollege-preprocessor
