version: '2'
services:
  web-client:
    image: node:6.5.0
    network_mode: host
    ports:
      - "3000:3000"
    volumes:
      - ./web-client:/usr/src/app
      - ./assets:/usr/src/app/assets
    command: "/bin/bash -c \"cd /usr/src/app && npm install && npm run build:dll && npm start\""
    depends_on:
      - web-api
  web-api:
    image: node:6.5.0
    network_mode: host
    environment:
      - PG_HOST=localhost
    ports:
      - "3001:3001"
    volumes:
      - ./web-api:/usr/src/app
      - ./assets:/usr/src/app/assets
    command: "/bin/bash -c \"cd /usr/src/app && npm install && npm run build && npm run init && npm run start\""
    depends_on:
      - postgres
      - redis
  ml-predictor:
    image: node:6.5.0
    network_mode: host
    environment:
      - PG_HOST=localhost
    volumes:
      - ./ml-predictor:/usr/src/app
    working_dir: /usr/src/app
    command: "/bin/bash -c \"cd /usr/src/app && npm install && npm run build && npm run start\""
    depends_on:
      - rabbitmq
  postgres:
    image: postgres
    network_mode: host
    volumes:
      - ./dbdata:/var/lib/postgresql/data
  redis:
    image: redis:alpine
    network_mode: host
    ports:
      - "6379:6379"
  rabbitmq:
    image: rabbitmq:3-management
    network_mode: host
    env_file: development.env
    ports:
      - "5672:5672"
      - "15672:15672"
      - "25672:25672"
  nginx:
    image: nginx
    network_mode: host
    ports:
      - "8080:8080"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web-client
      - web-api
